/* ==== 
 --------- (5.21) advisor styles start ---------
 ==== */

.advisor {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: -100px;
    left: 20px;
    background: linear-gradient(180deg, #313524 0%, #323624 100%);
    filter: blur(100px);
    z-index: -1;
    width: 160px;
    height: 260px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -100px;
    right: 20px;
    background: linear-gradient(180deg, #313524 0%, #323624 100%);
    filter: blur(100px);
    z-index: -1;
    width: 160px;
    height: 260px;
  }

  .advisor__slider-single {
    padding: 40px 40px 60px;
    border-radius: 30px;
    background: #11141e;
    backdrop-filter: blur(25px);
    position: relative;
    z-index: 1;
    overflow: hidden;

    p {
      color: #ffffff60;
    }
  }

  .thumb {
    img {
      width: 100%;
      border-radius: 30px;
      min-height: 200px;
    }
  }

  .social {
    a {
      width: 40px;
      height: 40px;
      min-width: 40px;
      background-color: rgba(255, 255, 255, 0.06);
      backdrop-filter: blur(25px);
      color: var(--white);
      border-radius: 50%;
      font-size: 14px;

      &:hover {
        background-color: var(--primary-color);
        color: var(--black);
      }

      &::before {
        content: none;
      }
    }
  }

  .shape {
    position: absolute;
    inset: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    z-index: -1;
    object-fit: unset;
    pointer-events: none;
  }

  .advisor__inner {
    position: relative;
    z-index: 1;
  }
}

// advisor two
.advisor-two {
  .thumb-wrapper {
    position: relative;

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      font-size: 50px;
      color: var(--white);
      z-index: 2;
    }
  }

  .thumb {
    -webkit-mask-image: url("../images/advisor/shape-two.png");
    mask-image: url("../images/advisor/shape-two.png");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    background-color: #c4c4c4;
    width: 260px;
    height: 260px;
    margin-inline: auto;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(140, 230, 87, 0) 0%,
        #8ce657 100%
      );
      transform: scale(2);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: var(--transition);
    }

    img {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  .advisor-two__single {
    &:hover {
      .thumb {
        &::before {
          transform: scale(1);
          opacity: 1;
          visibility: visible;
        }
      }

      .thumb-wrapper {
        a {
          transform: translate(-50%, -50%) scale(1);
        }
      }

      h5 {
        a {
          color: var(--primary-color);
        }
      }
    }
  }
}

/* ==== 
 --------- (5.21) advisor styles end ---------
 ==== */
