/* ==== 
 --------- (5.24) contact styles start ---------
 ==== */

.contact-three {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    max-width: 1400px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #4ce714 100%);
    filter: blur(100px);
  }

  .contact-three__inner {
    padding-inline: 20px;
    background: #171520;
    position: relative;
    z-index: 1;
  }

  .left-top-img {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);

    img {
      max-width: 6vw;
      min-width: 60px;
    }
  }

  .right-bottom-img {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    right: 0px;
    transform: translate(50%, 50%);

    img {
      max-width: 6vw;
      min-width: 60px;
    }
  }
}

.contact-three-alt {
  &::before {
    content: none;
  }

  .contact-three__inner {
    background-color: var(--white);
  }

  .contact-wrap {
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: -10px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      z-index: -1;
      border-radius: 0px;
      border: 1px solid #000;
      background: #fcd535;
      box-shadow: 0px 15px 10px 0px rgba(242, 242, 242, 0.18);
    }
  }

  .input-single {
    input,
    textarea {
      background-color: #e0e9fc9f;
      color: var(--septenary-color);
      font-family: var(--oswald);
      font-weight: 500;
      font-size: 18px;
      border-radius: 10px;

      &::placeholder {
        color: var(--septenary-color);
      }
    }
  }

  span {
    color: #636776;
  }
}

// contact overview
.contact-overview {
  .contact-overview__wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 0px 10px 10px 0px;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      z-index: -1;
      border-radius: 8px;
      border: 1px solid #000;
      background: #fcd535;
      box-shadow: 0px 15px 10px 0px rgba(242, 242, 242, 0.18);
    }
  }

  .thumb {
    img {
      width: 90px;
      height: 90px;
    }
  }

  .contact-ov {
    height: 100%;
  }

  .contact-overview__single {
    padding: 60px 20px;
    border-radius: 8px;
    border: 1px solid #000;
    background: #fff;
    height: 100%;
    box-shadow: 0px 15px 10px 0px rgba(242, 242, 242, 0.18);
  }

  a {
    font-size: 18px;
    font-family: var(--oswald);
    color: #636776;
    line-height: 30px;

    &:hover {
      color: var(--quinary-color);
    }
  }

  .content-inner {
    max-width: 250px;
    margin-inline: auto;
  }
}

// contact map
.contact-map {
  .contact-map__content {
    max-width: 440px;
  }

  p {
    color: #636776;
  }

  iframe {
    max-height: 520px;
  }
}

/* ==== 
 --------- (5.24) contact styles end ---------
 ==== */
