/* ==== 
 --------- (5.18) distribution styles start ---------
 ==== */

.distribution {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 600px;
    top: -400px;
    left: 0px;
    background: linear-gradient(
      102deg,
      #c6e757 22.26%,
      rgba(90, 139, 11, 0.47) 50.94%,
      rgba(139, 159, 21, 0) 93.06%
    );
    opacity: 0.26;
    filter: blur(100px);
    z-index: -1;
  }

  .distribution__inner {
    padding: 40px 20px;
    border-radius: 17px;
    border: 1px solid rgba(255, 255, 255, 0.26);
    background: #171520;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 260px;
      left: 10px;
      bottom: -100px;
      z-index: -1;
      background: linear-gradient(
        180deg,
        rgba(24, 255, 158, 0) 0%,
        #4ce714 100%
      );
      filter: blur(100px);
    }
  }

  .chart-wrapper {
    position: relative;

    .ch {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    span {
      color: black !important;
      font-weight: 700 !important;
    }
  }

  .apexcharts-legend {
    display: none;
  }

  .apexcharts-tooltip-z-group,
  .apexcharts-tooltip-goal-group {
    display: none !important;
  }

  li {
    margin-bottom: 12px;

    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }

    span {
      color: #33bb51;
    }

    &:nth-of-type(2) {
      span {
        color: #f3b123;
      }
    }

    &:nth-of-type(3) {
      span {
        color: #82a412;
      }
    }

    &:nth-of-type(4) {
      span {
        color: #c6e757;
      }
    }
  }
}

/* ==== 
 --------- (5.18) distribution styles end ---------
 ==== */
