/* ==== 
 --------- (5.23) download styles start ---------
 ==== */

.download {
  position: relative;
  z-index: 1;
  overflow: hidden;

  .download__thumb {
    direction: rtl;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 250px;
      height: 250px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      background: linear-gradient(
        180deg,
        rgba(24, 255, 158, 0) 0%,
        #4ce714 100%
      );
      filter: blur(100px);
      z-index: -1;
    }

    img {
      max-width: 750px;
      min-width: 750px;
    }
  }

  .download__item {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      height: 150px;
      background: linear-gradient(
        180deg,
        rgba(24, 255, 158, 0) 0%,
        #4ce714 100%
      );
      filter: blur(100px);
      z-index: -1;
    }
  }

  .download__item-single {
    padding: 30px 12px;
    text-align: center;
    border-radius: 11px;
    border: 1px solid #132b23;
    background: #0d0f0e;
    width: 100%;
    transition: var(--transition);

    &:hover {
      border-color: var(--quaternary-color);
    }

    h6 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

/* ==== 
 --------- (5.23) download styles end ---------
 ==== */
