/* ==== 
 --------- (5.0) explore styles start ---------
 ==== */

.explore {
  position: relative;
  z-index: 1;
  overflow-x: clip;

  .explore__thumb {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 40%;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: linear-gradient(
        166deg,
        rgba(22, 21, 19, 0) 24.45%,
        #161513 74.22%
      );
    }

    .img-two {
      position: absolute;
      top: -10px;
      left: -40px;
      z-index: -1;

      img {
        max-width: 8vw;
        min-width: 30px;
        animation: moveLeftRight 7s linear infinite;
      }
    }

    .img-three {
      position: absolute;
      bottom: -10px;
      left: 20px;
      z-index: -1;

      img {
        max-width: 8vw;
        min-width: 30px;
        animation: pulse 7s linear infinite;
      }
    }

    .img-four {
      position: absolute;
      bottom: 30px;
      right: 130px;
      z-index: 3;

      img {
        max-width: 8vw;
        min-width: 30px;
        animation: moveLeftRight 7s linear infinite;
      }
    }

    .img-one {
      position: absolute;
      top: -10px;
      right: 40px;
      z-index: -1;

      img {
        max-width: 8vw;
        min-width: 30px;
        animation: moveTopBottom 7s linear infinite;
      }
    }
  }

  .explore__content {
    padding: 60px 20px;
    background-color: var(--quaternary-color);
    position: relative;
    z-index: 1;
    overflow: hidden;

    .left-top-img {
      position: absolute;
      top: -20px;
      left: 20px;
      z-index: -1;

      img {
        max-width: 12vw;
        min-width: 30px;
        animation: moveLeftRight 8s linear infinite;
      }
    }

    .right-bottom-img {
      position: absolute;
      bottom: -10px;
      right: 40px;
      z-index: -1;

      img {
        max-width: 12vw;
        min-width: 30px;
        animation: moveLeftRight 8s linear infinite alternate-reverse;
      }
    }
  }

  .btn--primary {
    border-color: var(--quinary-color);
    font-weight: 700;
    color: var(--white);
    background-color: var(--black);
    font-size: 18px;
    font-family: var(--gorditas);

    &::before,
    &::after {
      background: var(--quinary-color);
    }
  }

  .top-b {
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: -1;

    img {
      max-width: 8vw;
      min-width: 30px;
      animation: rotation 8s linear infinite;
    }
  }

  p {
    max-width: 700px;
    margin-inline: auto;
  }

  .left-bottom-img {
    position: absolute;
    bottom: 120px;
    left: 45%;
    z-index: 2;

    img {
      max-width: 12vw;
      min-width: 30px;
      box-shadow: 0px 0px 793.8px 0px #356f34, 0px 0px 453.6px 0px #356f34,
        0px 0px 264.6px 0px #356f34, 0px 0px 132.3px 0px #356f34,
        0px 0px 37.8px 0px #356f34, 0px 0px 18.9px 0px #356f34;
      border-radius: 50%;
      animation: rotation 10s linear infinite;
    }
  }
}

/* ==== 
 --------- (5.06) explore styles end ---------
 ==== */
