/* ==== 
 --------- (5.22) faq styles start ---------
 ==== */

.faq {
  .faq__content {
    p {
      max-width: 380px;
    }
  }

  .accordion-item {
    margin-bottom: 24px;
    background-color: #1d1c1a;
    border-radius: 11px;
    border: 1px solid #132b23;
    box-shadow: 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
    outline: none;

    &:last-of-type {
      margin-bottom: 0px;
    }

    .accordion-button:not(.collapsed) {
      color: var(--primary-color);
      background-color: #1d1c1a;
      border-radius: 10px !important;
      border: 1px solid #132b23;
      box-shadow: none;
      outline: none;

      &::after {
        content: "\eaf2";
        color: var(--black);
        border-color: var(--primary-color);
        transform: rotate(0deg);
        background-color: var(--primary-color);
      }
    }

    .accordion-button {
      border-radius: 0px;
      color: var(--white);
      position: relative;
      background-color: #1d1c1a;
      box-shadow: none;
      border: 0px !important;
      border-radius: 10px !important;
      padding: 30px 24px;
      font-size: 20px;
      font-weight: 700;
      border-color: #132b23 !important;

      &::after {
        content: "\eb0b";
        font-family: "tabler-icons";
        font-weight: 500;
        border-radius: 50%;
        background-image: none;
        font-size: 16px;
        color: #c0c2c860;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 1px solid #c0c2c860;
      }
    }
  }

  h6 {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 600;
    color: var(--secondary-color);

    button {
      padding: 0px;
      font-size: inherit;
      line-height: inherit;
      border: none;
      outline: none;
      box-shadow: 0px 0px 0px;
      padding: 16px 0px;
      border-radius: 10px;
      color: var(--secondary-color);
    }
  }

  .accordion-body {
    padding: 24px 24px;
    border: 0px;
    border-top: 1px solid #132b23;

    p {
      color: #b3b5bb;
      font-size: 18px;
      line-height: 30px;
      font-family: var(--inter);
    }
  }
}

// faq three
.faq-three {
  background-color: #171520;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    opacity: 0.3;
    background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #4ce714 100%);
    filter: blur(100px);
    z-index: -1;
  }

  .accordion-item {
    margin-bottom: 24px;
    background-color: #0d0f0e;
    border-radius: 11px;
    border: 1px solid #132b23;
    box-shadow: 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
    outline: none;

    &:last-of-type {
      margin-bottom: 0px;
    }

    .accordion-button:not(.collapsed) {
      color: var(--primary-color);
      background-color: #0d0f0e;
      border-radius: 10px !important;
      border: 1px solid #132b23;
      box-shadow: none;
      outline: none;

      &::after {
        color: var(--primary-color);
        transform: rotate(0deg);
        font-weight: 500;
      }
    }

    .accordion-button {
      border-radius: 0px;
      color: var(--white);
      position: relative;
      background-color: #0d0f0e;
      box-shadow: none;
      border: 0px !important;
      border-radius: 10px !important;
      padding: 30px 24px;
      font-size: 20px;
      font-weight: 700;
      border-color: #132b23 !important;

      &::after {
        content: "\ea16";
        font-family: "tabler-icons";
        font-weight: 500;
        border-radius: 0px;
        background-image: none;
        font-size: 30px;
        color: var(--secondary-color);
        margin-top: -10px;
      }
    }
  }

  h6 {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 600;
    color: var(--secondary-color);

    button {
      padding: 0px;
      font-size: inherit;
      line-height: inherit;
      border: none;
      outline: none;
      box-shadow: 0px 0px 0px;
      padding: 16px 0px;
      border-radius: 10px;
      color: var(--secondary-color);
    }
  }

  .accordion-body {
    padding: 24px 24px;
    border: 0px;
    border-top: 1px solid #132b23;

    p {
      color: #b3b5bb;
      font-size: 18px;
      line-height: 30px;
      font-family: var(--inter);
    }
  }

  .faq-three__bg {
    position: absolute;
    bottom: 0px;
    inset-inline: 0px;
    z-index: -2;
    text-align: center;

    img {
      width: 100%;
      max-width: 1600px;
    }
  }

  .left-top-img {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 50px;
  }

  .left-bottom-img {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 70%;
    transform: translateY(-70%);
  }

  .right-top-img {
    position: absolute;
    z-index: -1;
    right: 0px;
    top: 30%;
  }

  .right-bottom-img {
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 15px;
  }
}

/* ==== 
 --------- (5.22) faq styles end ---------
 ==== */
