/* ==== 
 --------- (3.03) preloader styles start ---------
 ==== */

// mixins
@use "../abstracts/mixins" as *;
// variables
@use "../abstracts/variables" as *;

.preloader {
  background-color: var(--black);
  position: fixed;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  .path {
    stroke-dasharray: 2110;
    stroke-dashoffset: 2110;
    stroke-width: 2;
    stroke-linecap: round;
    animation: dash 2s linear infinite;
    fill-opacity: 0;
    stroke: orange;
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 2110;
      opacity: 0;
      stroke: orange;
    }

    15% {
      opacity: 1;
      stroke: orange;
    }

    70% {
      opacity: 1;
      stroke: orange;
    }

    100% {
      stroke-dashoffset: 0;
      opacity: 0;
      stroke: yellow;
    }
  }

  p {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5px;
    background: linear-gradient(90deg, #ffcc00, #00ccff, #ff6600, #ffcc00);
    background-size: 300%;
    background-clip: text;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent !important;
    animation: moveBg 5s ease-in-out infinite;
  }
}

/* ==== 
 --------- (3.03) preloader styles end ---------
 ==== */
